.home {
  width: 100vw;
  height: 100vh;
  background-color: #181818;
  display: grid;
  grid-template-columns: repeat(12, 1fr);
  grid-template-rows: repeat(12, 1fr);
  position: relative;
  overflow-x: hidden;
  overflow-y: hidden;
  transition: all 0.5s ease;
  // scroll-behavior: smooth;
  // scroll-snap-type: x proximity;
  // overflow: hidden;

 }

 .home-box.slide {
  transition: transform 1s ease;
 }

 .work-selected.slide {
  transition: transform 1s ease;
 }

 .about-box.slide {
  transition: transform 1s ease;
 }

 .contact-me.slide {
  transition: transform 1s ease;
 }

//  html {
//    scroll-behavior: smooth;
//  }

// ::-webkit-scrollbar-track {
//   background: blue; 
// }

::-webkit-scrollbar {
  width: 5px;
}

// ::-webkit-scrollbar-thumb {
//   background: red; 
// }

// ::-webkit-scrollbar-thumb:hover {
//   background: green; 
// }

.home-noise {
  opacity: 0.1;
  width: 100%;
  object-fit: cover;
  object-position: center;
  position: absolute;
  display: none;
}

header {
  grid-column: 1/13;
  grid-row: 1/2;
  height: 100px;
  display: flex;
  z-index: 15;
}

.logo {
  grid-column: 1 / 2;
  grid-row: 1 / 2;
  width: 80px;
  align-self: center;
  justify-self: end;
  margin-left: 35px;
  position: fixed;
  cursor: pointer;
  // background-color: red;
}

.logo svg {
  width: 100%;
  height: 100%;
}

.navbar {
  grid-column: 12/13;
  grid-row: 1 /13;
  width: 70px;
  justify-self: end;
  align-self: flex-start;
  z-index: 18;
  position: fixed;
  height: 100%;
  // margin-top: 150px;
  // background-color: red;
  backdrop-filter: blur(25px);
  border-left: 0.1px solid rgb(209, 207, 207);
}

.navbar ul {
  list-style-type: none;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100%;
}

.navbar ul li {
  cursor: pointer;
}

.rotate {
  width: 125px;
  height: 125px;
  // grid-column: 10/11;
  // grid-row: 2/3;
  z-index: 16;
  border-radius: 50%;
  position: absolute;
  right: 200px;
  top: 281px;
  position: fixed;
  transition: all 8s ease;
  animation-name: rotatean;
  animation-duration: 8s;
  animation-timing-function: ease-in-out;
  // animation-fill-mode: forwards;
  animation-iteration-count: infinite;
  animation-direction: normal;
}

@keyframes rotatean {
  // from {
  //   transform: rotate(0);
  // }
  to {
    transform: rotate(360deg);
  }
}

.rotate svg {
  width: 100%;
  height: 100%;
}

.rotate p {
  position: absolute;
  top: 50%;
  left: 50%;
  font-size: 1.5rem;
  transform: translate(-50%, -50%);
}

.navbar ul li {
  width: min-content;
  height: min-content;
  margin: 35px;
}

.navbar ul li a {
  padding: 10px;
  text-decoration: none;
  color: white;
  writing-mode: vertical-rl;
  font-size: 1rem;
  font-family: neuehassBold;
}

.home-box {
  width: calc(100vw - 80px);
  height: calc(100vh - 100px);
  display: grid;
  grid-template-columns: repeat(12, 1fr);
  grid-template-rows: repeat(12, 1fr);
  background-color: transparent;
  position: absolute;
  top: 100px;
  scroll-snap-align: start;
  scroll-behavior: smooth;
}

.home-box-iam {
  color: white;
  line-height: 0.5;
  grid-column: 3 / 4;
  grid-row: 3 / 4;
  font-size: 5rem;
  align-self: flex-end;
  font-family: neuehaasThin;
}

.home-box-shahrukh {
  color: white;
  line-height: 0.5;
  grid-column: 3 /8;
  grid-row: 4 / 6;
  font-size: 14.5rem;
  align-self: center;
  justify-self: left;
  padding: 0;
  font-family: neuehassLight;
}

.home-box-icon-bold-arrow {
  grid-column: 5 / 6;
  grid-row: 6 / 9;
  align-self: flex-start;
  justify-self: end;
  margin-top: 30px;
  width: 100px;
  height: 95px;
}

.home-box-icon-bold-arrow svg {
  width: 100%;
  height: 100%;
}

.what-i-do {
  grid-column: 6 / 7;
  grid-row: 6 / 9;
  align-self: flex-start;
  justify-self: center;
  line-height: 1.3;
  margin-top: 24px;
  // width: 200px;
  // height: 145px;
  // background-color: red;
}

.what-i-do-designer {
  font-size: 2.7rem;
  color: white;
  font-family: neuehaasThin;
}

.what-i-do-video {
  font-size: 2.7rem;
  color: white;
  font-family: neuehaasThin;
}

.what-i-do-3d {
  font-size: 2.7rem;
  color: white;
  font-family: neuehaasThin;
}

.home-box-light-Arrow {
  grid-column: 10 / 12;
  grid-row: 10 /12;
  justify-self: center;
  width: 200px;
  height: 150px;
  animation-name: arrowSlider;
  animation-duration: 2s;
  margin-left: 70px;
  // z-index: 15;
}

@keyframes arrowSlider {
  from {
    transform: translateX(-1600px);
  }

  to {
    transform: translateX(0);
  }
}

.home-box-light-Arrow svg {
  width: 100%;
  height: 100%;
}

.selected-work {
  grid-column: 12/13;
  grid-row: 10/12;
  justify-self: center;
  align-self: flex-end;
  height: min-content;
}

.selected {
  align-self: flex-end;
  color: white;
  font-size: 2.5rem;
  line-height: 0.5;
  font-family: neuehaasThin;
}

.work {
  color: white;
  align-self: flex-start;
  font-size: 8rem;
  font-weight: bold;
  line-height: 1;
  font-family: neuehassLight;
}

.home-next {
  color: white;
  letter-spacing: 2.5px;
  font-size: 1.5rem;
  grid-column: 10/11;
  grid-row: 10/11;
  justify-self: start;
  width: 45px;
  height: 20px;
  margin-top: 50px;
  margin-left: 87px;
  animation-name: nextAnim;
  animation-duration: 2s;
  animation-delay: 2s;
  opacity: 0;
  animation-fill-mode: forwards;
  // z-index: 15;
}

@keyframes nextAnim {
  from {
    transform: translateY(20px);
    opacity: 0;
  }

  to {
    transform: translateY(0);
    opacity: 1;
  }
}

.cursor {
  cursor: default;
}

.mobile-tab {
  display: none;
}

@media screen and (min-width: 1080px) and (max-width: 1280px) {

  .mobile-tab {
    display: none;
  }

  .home {
    width: 100vw;
    height: 100vh;
    background-color: black;
    display: grid;
    grid-template-columns: repeat(12, 1fr);
    grid-template-rows: repeat(12, 1fr);
    position: relative;
    overflow: hidden;
    transition: all 0.5s ease;
  }

  .home-noise {
    opacity: 0.1;
    width: 100%;
    object-fit: cover;
    object-position: center;
    position: absolute;
    display: none;
  }

  header {
    grid-column: 1/13;
    grid-row: 1/2;
    height: 100px;
    display: flex;
    z-index: 15;
  }

  .logo {
    grid-column: 1 / 3;
    grid-row: 1 / 2;
    width: 90px;
    align-self: flex-end;
    justify-self: flex-end;
    margin-left: 52px;
    // position: fixed;
    cursor: pointer;
  }

  .logo svg {
    width: 100%;
    height: 100%;
  }

  .navbar {
    grid-column: 12/13;
    grid-row: 1 /13;
    width: 57px;
    justify-self: end;
    align-self: flex-start;
    z-index: 18;
    position: fixed;
    height: 100%;
    // margin-top: 150px;
    // background-color: red;
    backdrop-filter: blur(8px);
    // background-color: transparent;
  }

  .navbar ul {
    list-style-type: none;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100%;
  }

  .navbar ul li {
    cursor: pointer;
  }

  .rotate {
    width: 110px;
    height: 110px;
    // grid-column: 10/11;
    // grid-row: 2/3;
    z-index: 16;
    border-radius: 50%;
    position: absolute;
    right: 180px;
    top: 400px;
    position: fixed;
    transition: all 8s ease;
    animation-name: rotatean;
    animation-duration: 8s;
    animation-timing-function: ease-in-out;
    // animation-fill-mode: forwards;
    animation-iteration-count: infinite;
    animation-direction: normal;
  }

  @keyframes rotatean {
    // from {
    //   transform: rotate(0);
    // }
    to {
      transform: rotate(360deg);
    }
  }

  .rotate svg {
    width: 100%;
    height: 100%;
  }

  .rotate p {
    position: absolute;
    top: 50%;
    left: 50%;
    font-size: 1.5rem;
    transform: translate(-50%, -50%);
  }

  .navbar ul li {
    width: min-content;
    height: min-content;
    margin: 30%;
  }

  .navbar ul li a {
    padding: 10px;
    text-decoration: none;
    color: white;
    writing-mode: vertical-rl;
    font-size: 1rem;
    font-family: neuehassBold;
  }

  .home-box {
    width: calc(100vw - 80px);
    height: calc(100vh - 100px);
    display: grid;
    grid-template-columns: repeat(12, 1fr);
    grid-template-rows: repeat(12, 1fr);
    background-color: transparent;
    position: absolute;
    top: 100px;
  }

  .home-box-iam {
    color: white;
    line-height: 0.5;
    grid-column: 4 / 5;
    grid-row: 3 / 4;
    font-size: 5rem;
    align-self: flex-end;
    margin-bottom: 10px;
    font-family: neuehaasThin;
  }

  .home-box-shahrukh {
    color: white;
    line-height: 0.5;
    grid-column: 4 /9;
    grid-row: 4 / 5;
    font-size: 10.5rem;
    align-self: center;
    justify-self: flex-start;
    padding-top: 20px;
    padding-bottom: 20px;
    font-family: neuehassLight;
  }

  .home-box-icon-bold-arrow {
    grid-column: 7 / 8;
    grid-row: 5 / 7;
    align-self: flex-start;
    justify-self: end;
    width: 80px;
    height: 75px;
    margin-right: 5px;
    margin-top: 25px;
  }

  .home-box-icon-bold-arrow svg {
    width: 100%;
    height: 100%;
  }

  .what-i-do {
    grid-column: 8 / 9;
    grid-row: 5 / 7;
    align-self: flex-start;
    justify-self: center;
    line-height: 1.3;
    width: 120px;
    margin-top: 23px;
    // height: 145px;
    // background-color: red;
  }

  .what-i-do-designer {
    font-size: 2rem;
    color: white;
    font-family: neuehaasThin;
  }

  .what-i-do-video {
    font-size: 2rem;
    color: white;
    font-family: neuehaasThin;
  }

  .what-i-do-3d {
    font-size: 2rem;
    color: white;
    font-family: neuehaasThin;
  }

  .home-box-light-Arrow {
    grid-column: 10 / 12;
    grid-row: 9 /11;
    justify-self: flex-start;
    align-self: center;
    width: 180px;
    height: 130px;
    animation-name: arrowSlider;
    animation-duration: 2s;
    margin-right: 10px;
    // z-index: 15;
  }

  @keyframes arrowSlider {
    from {
      transform: translateX(-1600px);
    }

    to {
      transform: translateX(0);
    }
  }

  .home-box-light-Arrow svg {
    width: 100%;
    height: 100%;
  }

  .selected-work {
    grid-column: 12/13;
    grid-row: 9/11;
    justify-self: center;
    align-self: flex-end;
    height: min-content;
  }

  .selected {
    align-self: flex-end;
    color: white;
    font-size: 2.3rem;
    line-height: 0.5;
    font-family: neuehaasThin;
  }

  .work {
    color: white;
    align-self: flex-start;
    font-size: 7rem;
    font-weight: bold;
    line-height: 1;
    font-family: neuehassLight;
  }

  .home-next {
    color: white;
    letter-spacing: 2.5px;
    font-size: 1.3rem;
    grid-column: 10/11;
    grid-row: 9/10;
    justify-self: start;
    align-self: flex-end;
    width: 45px;
    height: 20px;
    // margin-top: 60px;
    margin-bottom: 2%;
    margin-left: 75px;
    animation-name: nextAnim;
    animation-duration: 2s;
    animation-delay: 2s;
    opacity: 0;
    animation-fill-mode: forwards;
    // z-index: 15;
  }

  @keyframes nextAnim {
    from {
      transform: translateY(20px);
      opacity: 0;
    }

    to {
      transform: translateY(0);
      opacity: 1;
    }
  }

  .cursor {
    cursor: default;
  }
}

@media screen and (min-width: 1281px) and (max-width: 1366px) {
  .mobile-tab {
    display: none;
  }

  .home {
    width: 100vw;
    height: 100vh;
    background-color: black;
    display: grid;
    grid-template-columns: repeat(12, 1fr);
    grid-template-rows: repeat(12, 1fr);
    position: relative;
    overflow: hidden;
    transition: all 0.5s ease;
  }

  .home-noise {
    opacity: 0.1;
    width: 100%;
    object-fit: cover;
    object-position: center;
    position: absolute;
    display: none;
  }

  header {
    grid-column: 1/13;
    grid-row: 1/2;
    height: 100px;
    display: flex;
    z-index: 15;
  }

  .logo {
    grid-column: 1 / 3;
    grid-row: 1 / 2;
    width: 90px;
    align-self: flex-end;
    justify-self: flex-end;
    margin-left: 52px;
    // position: fixed;
    cursor: pointer;
  }

  .logo svg {
    width: 100%;
    height: 100%;
  }

  .navbar {
    grid-column: 12/13;
    grid-row: 1 /13;
    width: 70px;
    justify-self: end;
    align-self: flex-start;
    z-index: 18;
    position: fixed;
    height: 100%;
    // margin-top: 150px;
    // background-color: red;
    backdrop-filter: blur(25px);
  }

  .navbar ul {
    list-style-type: none;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100%;
  }

  .navbar ul li {
    cursor: pointer;
  }

  .rotate {
    width: 110px;
    height: 110px;
    // grid-column: 10/11;
    // grid-row: 2/3;
    z-index: 16;
    border-radius: 50%;
    position: absolute;
    right: 200px;
    top: 281px;
    position: fixed;
    transition: all 8s ease;
    animation-name: rotatean;
    animation-duration: 8s;
    animation-timing-function: ease-in-out;
    // animation-fill-mode: forwards;
    animation-iteration-count: infinite;
    animation-direction: normal;
  }

  @keyframes rotatean {
    // from {
    //   transform: rotate(0);
    // }
    to {
      transform: rotate(360deg);
    }
  }

  .rotate svg {
    width: 100%;
    height: 100%;
  }

  .rotate p {
    position: absolute;
    top: 50%;
    left: 50%;
    font-size: 1.5rem;
    transform: translate(-50%, -50%);
  }

  .navbar ul li {
    width: min-content;
    height: min-content;
    margin: 20px;
  }

  .navbar ul li a {
    // padding: 10px;
    text-decoration: none;
    color: white;
    writing-mode: vertical-rl;
    font-size: 1rem;
    font-family: neuehassBold;
  }

  .home-box {
    width: calc(100vw - 80px);
    height: calc(100vh - 100px);
    display: grid;
    grid-template-columns: repeat(12, 1fr);
    grid-template-rows: repeat(12, 1fr);
    background-color: transparent;
    position: absolute;
    top: 100px;
  }

  .home-box-iam {
    color: white;
    line-height: 0.5;
    grid-column: 4 / 5;
    grid-row: 3 / 4;
    font-size: 5rem;
    align-self: center;
    font-family: neuehaasThin;
  }

  .home-box-shahrukh {
    color: white;
    line-height: 0.5;
    grid-column: 4 /9;
    grid-row: 4 / 5;
    font-size: 11.5rem;
    align-self: flex-start;
    justify-self: flex-start;
    padding-top: 20px;
    padding-bottom: 20px;
    font-family: neuehassLight;
  }

  .home-box-icon-bold-arrow {
    grid-column: 7 / 8;
    grid-row: 5 / 7;
    align-self: flex-start;
    justify-self: end;
    width: 80px;
    height: 75px;
    margin-right: 5px;
    margin-top: 25px;
  }

  .home-box-icon-bold-arrow svg {
    width: 100%;
    height: 100%;
  }

  .what-i-do {
    grid-column: 8 / 9;
    grid-row: 5 / 7;
    align-self: flex-start;
    justify-self: center;
    line-height: 1.3;
    width: 120px;
    margin-top: 23px;
    // height: 145px;
    // background-color: red;
  }

  .what-i-do-designer {
    font-size: 2rem;
    color: white;
    font-family: neuehaasThin;
  }

  .what-i-do-video {
    font-size: 2rem;
    color: white;
    font-family: neuehaasThin;
  }

  .what-i-do-3d {
    font-size: 2rem;
    color: white;
    font-family: neuehaasThin;
  }

  .home-box-light-Arrow {
    grid-column: 10 / 12;
    grid-row: 9 /11;
    justify-self: flex-start;
    align-self: center;
    width: 180px;
    height: 130px;
    animation-name: arrowSlider;
    animation-duration: 2s;
    margin-right: 10px;
    // z-index: 15;
  }

  @keyframes arrowSlider {
    from {
      transform: translateX(-1600px);
    }

    to {
      transform: translateX(0);
    }
  }

  .home-box-light-Arrow svg {
    width: 100%;
    height: 100%;
  }

  .selected-work {
    grid-column: 12/13;
    grid-row: 9/11;
    justify-self: center;
    align-self: center;
    height: min-content;
    margin-top: 57px;
  }

  .selected {
    align-self: flex-end;
    color: white;
    font-size: 2.3rem;
    line-height: 0.5;
    font-family: neuehaasThin;
  }

  .work {
    color: white;
    align-self: flex-start;
    font-size: 7rem;
    font-weight: bold;
    line-height: 1;
    font-family: neuehassLight;
  }

  .home-next {
    color: white;
    letter-spacing: 2.5px;
    font-size: 1.3rem;
    grid-column: 10/11;
    grid-row: 9/10;
    justify-self: start;
    width: 45px;
    height: 20px;
    // margin-top: 55px;
    margin-left: 75px;
    animation-name: nextAnim;
    animation-duration: 2s;
    animation-delay: 2s;
    opacity: 0;
    animation-fill-mode: forwards;
    // z-index: 15;
  }

  @keyframes nextAnim {
    from {
      transform: translateY(20px);
      opacity: 0;
    }

    to {
      transform: translateY(0);
      opacity: 1;
    }
  }

  .cursor {
    cursor: default;
  }
}

@media screen and (min-width: 1367px) and (max-width: 1600px) {
  .mobile-tab {
    display: none;
  }

  .home {
    width: 100vw;
    height: 100vh;
    background-color: black;
    display: grid;
    grid-template-columns: repeat(12, 1fr);
    grid-template-rows: repeat(12, 1fr);
    position: relative;
    overflow: hidden;
    transition: all 0.5s ease;
  }

  .home-noise {
    opacity: 0.1;
    width: 100%;
    object-fit: cover;
    object-position: center;
    position: absolute;
    display: none;
  }

  header {
    grid-column: 1/13;
    grid-row: 1/2;
    height: 100px;
    display: flex;
    z-index: 15;
  }

  .logo {
    grid-column: 1 / 3;
    grid-row: 1 / 2;
    width: 90px;
    align-self: flex-end;
    justify-self: flex-end;
    margin-left: 52px;
    // position: fixed;
    cursor: pointer;
  }

  .logo svg {
    width: 100%;
    height: 100%;
  }

  .navbar {
    grid-column: 12/13;
    grid-row: 1 /13;
    width: 80px;
    justify-self: end;
    align-self: flex-start;
    z-index: 18;
    position: fixed;
    height: 100%;
    // margin-top: 150px;
    // background-color: red;
    backdrop-filter: blur(25px);
  }

  .navbar ul {
    list-style-type: none;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100%;
  }

  .navbar ul li {
    cursor: pointer;
  }

  .rotate {
    width: 110px;
    height: 110px;
    // grid-column: 10/11;
    // grid-row: 2/3;
    z-index: 16;
    border-radius: 50%;
    position: absolute;
    right: 200px;
    top: 281px;
    position: fixed;
    transition: all 8s ease;
    animation-name: rotatean;
    animation-duration: 8s;
    animation-timing-function: ease-in-out;
    // animation-fill-mode: forwards;
    animation-iteration-count: infinite;
    animation-direction: normal;
  }

  @keyframes rotatean {
    // from {
    //   transform: rotate(0);
    // }
    to {
      transform: rotate(360deg);
    }
  }

  .rotate svg {
    width: 100%;
    height: 100%;
  }

  .rotate p {
    position: absolute;
    top: 50%;
    left: 50%;
    font-size: 1.5rem;
    transform: translate(-50%, -50%);
  }

  .navbar ul li {
    width: min-content;
    height: min-content;
    margin: 30px;
  }

  .navbar ul li a {
    // padding: 10px;
    text-decoration: none;
    color: white;
    writing-mode: vertical-rl;
    font-size: 1rem;
    font-family: neuehassBold;
  }

  .home-box {
    width: calc(100vw - 80px);
    height: calc(100vh - 100px);
    display: grid;
    grid-template-columns: repeat(12, 1fr);
    grid-template-rows: repeat(12, 1fr);
    background-color: transparent;
    position: absolute;
    top: 100px;
  }

  .home-box-iam {
    color: white;
    line-height: 0.5;
    grid-column: 4 / 5;
    grid-row: 3 / 4;
    font-size: 6rem;
    align-self: center;
    font-family: neuehaasThin;
  }

  .home-box-shahrukh {
    color: white;
    line-height: 0.5;
    grid-column: 4 /9;
    grid-row: 4 / 5;
    font-size: 14.5rem;
    align-self: flex-start;
    justify-self: flex-start;
    padding-top: 20px;
    padding-bottom: 20px;
    font-family: neuehassLight;
  }

  .home-box-icon-bold-arrow {
    grid-column: 7 / 8;
    grid-row: 5 / 7;
    align-self: flex-start;
    justify-self: end;
    width: 80px;
    height: 75px;
    margin-right: 5px;
    margin-top: 25px;
  }

  .home-box-icon-bold-arrow svg {
    width: 100%;
    height: 100%;
  }

  .what-i-do {
    grid-column: 8 / 9;
    grid-row: 5 / 7;
    align-self: flex-start;
    justify-self: center;
    line-height: 1.3;
    width: 120px;
    margin-top: 23px;
    // height: 145px;
    // background-color: red;
  }

  .what-i-do-designer {
    font-size: 2rem;
    color: white;
    font-family: neuehaasThin;
  }

  .what-i-do-video {
    font-size: 2rem;
    color: white;
    font-family: neuehaasThin;
  }

  .what-i-do-3d {
    font-size: 2rem;
    color: white;
    font-family: neuehaasThin;
  }

  .home-box-light-Arrow {
    grid-column: 10 / 12;
    grid-row: 9 /11;
    justify-self: flex-start;
    align-self: center;
    width: 180px;
    height: 130px;
    animation-name: arrowSlider;
    animation-duration: 2s;
    margin-right: 10px;
    // z-index: 15;
  }

  @keyframes arrowSlider {
    from {
      transform: translateX(-1600px);
    }

    to {
      transform: translateX(0);
    }
  }

  .home-box-light-Arrow svg {
    width: 100%;
    height: 100%;
  }

  .selected-work {
    grid-column: 12/13;
    grid-row: 9/11;
    justify-self: center;
    align-self: center;
    height: min-content;
    margin-top: 57px;
  }

  .selected {
    align-self: flex-end;
    color: white;
    font-size: 3rem;
    line-height: 0.5;
    font-family: neuehaasThin;
  }

  .work {
    color: white;
    align-self: flex-start;
    font-size: 7rem;
    font-weight: bold;
    line-height: 1;
    font-family: neuehassLight;
  }

  .home-next {
    color: white;
    letter-spacing: 2.5px;
    font-size: 1.3rem;
    grid-column: 10/11;
    grid-row: 9/10;
    justify-self: start;
    width: 45px;
    height: 20px;
    // margin-top: 55px;
    margin-left: 75px;
    animation-name: nextAnim;
    animation-duration: 2s;
    animation-delay: 2s;
    opacity: 0;
    animation-fill-mode: forwards;
    // z-index: 15;
  }

  @keyframes nextAnim {
    from {
      transform: translateY(20px);
      opacity: 0;
    }

    to {
      transform: translateY(0);
      opacity: 1;
    }
  }

  .cursor {
    cursor: default;
  }
}

@media screen and (min-width: 1921px) and (max-width: 2560px) {
  .mobile-tab {
    display: none;
  }
 

  .home {
    width: 100vw;
    height: 100vh;
    background-color: #181818;
    display: grid;
    grid-template-columns: repeat(12, 1fr);
    grid-template-rows: repeat(12, 1fr);
    position: relative;
    overflow-x: scroll;
    overflow-y: hidden;
    transition: all 0.5s ease;
    scroll-behavior: smooth;
    scroll-snap-type: x proximity;
    // background-color: red;    
  }
  
  ::-webkit-scrollbar-track {
    background: transparent; 
  }
  
  ::-webkit-scrollbar {
    width: 5px;
  }
  
  ::-webkit-scrollbar-thumb {
    background: transparent; 
  }
  
  ::-webkit-scrollbar-thumb:hover {
    background: transparent; 
  }

  .home-noise {
    opacity: 0.1;
    width: 100%;
    object-fit: cover;
    object-position: center;
    position: absolute;
    display: none;
  }

  header {
    grid-column: 1/13;
    grid-row: 1/2;
    height: 100px;
    display: flex;
    z-index: 15;
  }

  .logo {
    grid-column: 1 / 3;
    grid-row: 1 / 3;
    width: 100px;
    align-self: center;
    justify-self: center;
    margin-left: 60px;
    margin-top: 60px;
    // position: fixed;
    cursor: pointer;
    // background-color: red;
  }

  .logo svg {
    width: 100%;
    height: 100%;
  }

  .navbar {
    grid-column: 12/13;
    grid-row: 1 /13;
    width: 80px;
    justify-self: end;
    align-self: flex-start;
    z-index: 18;
    position: fixed;
    height: 98%;
    margin-top: 10px;
    border-left: 0.1px solid rgb(209, 207, 207);
    // margin-top: 150px;
    // background-color: red;
    backdrop-filter: blur(25px);
  }

  .navbar ul {
    list-style-type: none;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100%;
  }

  .navbar ul li {
    cursor: pointer;
  }

  .rotate {
    width: 130px;
    height: 130px;
    // grid-column: 10/11;
    // grid-row: 2/3;
    z-index: 16;
    border-radius: 50%;
    position: absolute;
    right: 260px;
    top: 340px;
    position: fixed;
    transition: all 8s ease;
    animation-name: rotatean;
    animation-duration: 8s;
    animation-timing-function: ease-in-out;
    // animation-fill-mode: forwards;
    animation-iteration-count: infinite;
    animation-direction: normal;
  }

  @keyframes rotatean {
    // from {
    //   transform: rotate(0);
    // }
    to {
      transform: rotate(360deg);
    }
  }

  .rotate svg {
    width: 100%;
    height: 100%;
  }

  .rotate p {
    position: absolute;
    top: 50%;
    left: 50%;
    font-size: 1.5rem;
    transform: translate(-50%, -50%);
  }

  .navbar ul li {
    width: min-content;
    height: min-content;
    margin: 50px;
  }

  .navbar ul li a {
    // padding: 10px;
    text-decoration: none;
    color: white;
    writing-mode: vertical-rl;
    font-size: 1.5rem;
    font-family: neuehassBold;
  }

  .home-box {
    width: calc(100vw - 80px);
    height: calc(100vh - 100px);
    display: grid;
    grid-template-columns: repeat(12, 1fr);
    grid-template-rows: repeat(12, 1fr);
    background-color: transparent;
    position: absolute;
    top: 100px;
  }

  .home-box-iam {
    color: white;
    line-height: 1.1;
    grid-column: 3 / 4;
    grid-row: 3 / 4;
    font-size: 11rem;
    align-self: center;
    font-family: neuehaasThin;
  }

  .home-box-shahrukh {
    color: white;
    line-height: 0.5;
    grid-column: 3 /9;
    grid-row: 4 / 5;
    font-size: 25rem;
    align-self: flex-start;
    justify-self: flex-start;
    padding-top: 20px;
    padding-bottom: 90px;
    font-family: neuehassLight;
  }

  .home-box-icon-bold-arrow {
    grid-column: 6 / 7;
    grid-row: 5 / 6;
    align-self: center;
    justify-self: flex-end;
    width: 120px;
    height: 120px;
    margin-right: -10px;
    // margin-top: 25px;
  }

  .home-box-icon-bold-arrow svg {
    width: 100%;
    height: 100%;
  }

  .what-i-do {
    grid-column: 7 / 8;
    grid-row: 5 / 6;
    align-self: flex-start;
    justify-self: center;
    line-height: 1.3;
    width: 190px;
    position: absolute;
    right: -15px;
    top: -10px;
    // margin-top: 23px;
    // height: 145px;
    // background-color: red;
  }

  .what-i-do-designer {
    font-size: 3.5rem;
    color: white;
    font-family: neuehaasThin;
  }

  .what-i-do-video {
    font-size: 3.6rem;
    color: white;
    font-family: neuehaasThin;
  }

  .what-i-do-3d {
    font-size: 3.5rem;
    color: white;
    font-family: neuehaasThin;
  }

  .home-box-light-Arrow {
    grid-column: 10 / 12;
    grid-row: 9 /11;
    justify-self: flex-end;
    align-self: center;
    width: 250px;
    height: 190px;
    animation-name: arrowSlider;
    animation-duration: 2s;
    margin-right: 20px;
    // z-index: 15;
  }

  @keyframes arrowSlider {
    from {
      transform: translateX(-1600px);
    }

    to {
      transform: translateX(0);
    }
  }

  .home-box-light-Arrow svg {
    width: 100%;
    height: 100%;
  }

  .selected-work {
    grid-column: 12/13;
    grid-row: 9/11;
    justify-self: flex-end;
    align-self: center;
    height: min-content;
    margin-top: 80px;
  }

  .selected {
    align-self: flex-end;
    color: white;
    font-size: 4.5rem;
    line-height: 0.5;
    font-family: neuehaasThin;
  }

  .work {
    color: white;
    align-self: flex-start;
    font-size: 11rem;
    font-weight: bold;
    line-height: 1;
    font-family: neuehassLight;
  }

  .home-next {
    color: white;
    letter-spacing: 2.5px;
    font-size: 2rem;
    grid-column: 10/11;
    grid-row: 9/10;
    justify-self: flex-end;
    align-self: flex-end;
    width: 45px;
    height: 20px;
    // margin-top: 55px;
    // margin-left: 180px;
    margin-right: 22px;
    margin-bottom: 10px;
    animation-name: nextAnim;
    animation-duration: 2s;
    animation-delay: 2s;
    opacity: 0;
    animation-fill-mode: forwards;
    // z-index: 15;
  }

  @keyframes nextAnim {
    from {
      transform: translateY(20px);
      opacity: 0;
    }

    to {
      transform: translateY(0);
      opacity: 1;
    }
  }

  .cursor {
    cursor: default;
  }
}

@media screen and (min-width: 2561px) and (max-width: 3440px) {
  .mobile-tab {
    display: none;
  }

  .home {
    width: 100vw;
    height: 100vh;
    background-color: black;
    display: grid;
    grid-template-columns: repeat(12, 1fr);
    grid-template-rows: repeat(12, 1fr);
    position: relative;
    overflow: hidden;
    transition: all 0.5s ease;
    // background-color: red;
  }

  .home-noise {
    opacity: 0.1;
    width: 100%;
    object-fit: cover;
    object-position: center;
    position: absolute;
    display: none;
  }

  header {
    grid-column: 1/13;
    grid-row: 1/2;
    height: 100px;
    display: flex;
    z-index: 15;
  }

  .logo {
    grid-column: 1 / 3;
    grid-row: 1 / 3;
    width: 180px;
    align-self: center;
    justify-self: center;
    margin-left: 100px;
    margin-top: 140px;
    // position: fixed;
    cursor: pointer;
    // background-color: red;
  }

  .logo svg {
    width: 100%;
    height: 100%;
  }

  .navbar {
    grid-column: 12/13;
    grid-row: 1 /13;
    width: 80px;
    justify-self: end;
    align-self: flex-start;
    z-index: 18;
    position: fixed;
    height: 100%;
    // margin-top: 150px;
    // background-color: red;
    backdrop-filter: blur(25px);
  }

  .navbar ul {
    list-style-type: none;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100%;
  }

  .navbar ul li {
    cursor: pointer;
  }

  .rotate {
    width: 150px;
    height: 150px;
    // grid-column: 10/11;
    // grid-row: 2/3;
    z-index: 16;
    border-radius: 50%;
    position: absolute;
    right: 260px;
    top: 500px;
    position: fixed;
    transition: all 8s ease;
    animation-name: rotatean;
    animation-duration: 8s;
    animation-timing-function: ease-in-out;
    // animation-fill-mode: forwards;
    animation-iteration-count: infinite;
    animation-direction: normal;
  }

  @keyframes rotatean {
    // from {
    //   transform: rotate(0);
    // }
    to {
      transform: rotate(360deg);
    }
  }

  .rotate svg {
    width: 100%;
    height: 100%;
  }

  .rotate p {
    position: absolute;
    top: 50%;
    left: 50%;
    font-size: 1.5rem;
    transform: translate(-50%, -50%);
  }

  .navbar ul li {
    width: min-content;
    height: min-content;
    margin: 50px;
  }

  .navbar ul li a {
    // padding: 10px;
    text-decoration: none;
    color: white;
    writing-mode: vertical-rl;
    font-size: 2rem;
    font-family: neuehassBold;
  }

  .home-box {
    width: calc(100vw - 80px);
    height: calc(100vh - 100px);
    display: grid;
    grid-template-columns: repeat(12, 1fr);
    grid-template-rows: repeat(12, 1fr);
    background-color: transparent;
    position: absolute;
    top: 100px;
  }

  .home-box-iam {
    color: white;
    line-height: 0.5;
    grid-column: 3 / 4;
    grid-row: 3 / 4;
    font-size: 9rem;
    align-self: center;
    font-family: neuehaasThin;
  }

  .home-box-shahrukh {
    color: white;
    line-height: 0.5;
    grid-column: 3 / 7;
    grid-row: 4 / 5;
    font-size: 26rem;
    align-self: flex-start;
    justify-self: flex-start;
    padding-top: 30px;
    padding-bottom: 102px;
    font-family: neuehassLight;
  }

  .home-box-icon-bold-arrow {
    grid-column: 5 / 6;
    grid-row: 5 / 6;
    align-self: center;
    justify-self: flex-end;
    width: 150px;
    height: 150px;
    margin-right: 5px;
    // margin-top: 25px;
  }

  .home-box-icon-bold-arrow svg {
    width: 100%;
    height: 100%;
  }

  .what-i-do {
    grid-column: 6 / 7;
    grid-row: 5 / 6;
    align-self: flex-start;
    justify-self: center;
    line-height: 1.3;
    width: 255px;
    // margin-top: 23px;
    // height: 145px;
    // background-color: red;
  }

  .what-i-do-designer {
    font-size: 4.2rem;
    color: white;
    font-family: neuehaasThin;
  }

  .what-i-do-video {
    font-size: 4.2rem;
    color: white;
    font-family: neuehaasThin;
  }

  .what-i-do-3d {
    font-size: 4.2rem;
    color: white;
    font-family: neuehaasThin;
  }

  .home-box-light-Arrow {
    grid-column: 10 / 12;
    grid-row: 9 /11;
    justify-self: flex-end;
    align-self: center;
    width: 300px;
    height: 220px;
    animation-name: arrowSlider;
    animation-duration: 2s;
    margin-right: 20px;
    // z-index: 15;
  }

  @keyframes arrowSlider {
    from {
      transform: translateX(-1600px);
    }

    to {
      transform: translateX(0);
    }
  }

  .home-box-light-Arrow svg {
    width: 100%;
    height: 100%;
  }

  .selected-work {
    grid-column: 12/13;
    grid-row: 9/11;
    justify-self: flex-end;
    align-self: center;
    height: min-content;
    margin-top: 80px;
  }

  .selected {
    align-self: flex-end;
    color: white;
    font-size: 5rem;
    line-height: 0.5;
    font-family: neuehaasThin;
  }

  .work {
    color: white;
    align-self: flex-start;
    font-size: 13rem;
    font-weight: bold;
    line-height: 1;
    font-family: neuehassLight;
  }

  .home-next {
    color: white;
    letter-spacing: 2.5px;
    font-size: 2rem;
    grid-column: 10/12;
    grid-row: 9/10;
    justify-self: flex-end;
    align-self: flex-end;
    width: 45px;
    height: 20px;
    // margin-top: 55px;
    // margin-left: 180px;
    margin-right: 270px;
    margin-bottom: 12px;
    animation-name: nextAnim;
    animation-duration: 2s;
    animation-delay: 2s;
    opacity: 0;
    animation-fill-mode: forwards;
    // z-index: 15;
  }

  @keyframes nextAnim {
    from {
      transform: translateY(20px);
      opacity: 0;
    }

    to {
      transform: translateY(0);
      opacity: 1;
    }
  }

  .cursor {
    cursor: default;
  }
}

@media screen and (min-width: 3441px) and (max-width: 3840px) {
  .mobile-tab {
    display: none;
  }

  .home {
    width: 100vw;
    height: 100vh;
    background-color: black;
    display: grid;
    grid-template-columns: repeat(12, 1fr);
    grid-template-rows: repeat(12, 1fr);
    position: relative;
    overflow: hidden;
    transition: all 0.5s ease;
    // background-color: red;
  }

  .home-noise {
    opacity: 0.1;
    width: 100%;
    object-fit: cover;
    object-position: center;
    position: absolute;
    display: none;
  }

  header {
    grid-column: 1/13;
    grid-row: 1/2;
    height: 100px;
    display: flex;
    z-index: 15;
  }

  .logo {
    grid-column: 1 / 3;
    grid-row: 1 / 3;
    width: 230px;
    align-self: center;
    justify-self: center;
    margin-left: 200px;
    margin-top: 250px;
    // position: fixed;
    cursor: pointer;
    // background-color: red;
  }

  .logo svg {
    width: 100%;
    height: 100%;
  }

  .navbar {
    grid-column: 12/13;
    grid-row: 1 /13;
    width: 150px;
    justify-self: end;
    align-self: flex-start;
    z-index: 18;
    position: fixed;
    height: 100%;    
    // margin-top: 150px;
    // background-color: red;
    backdrop-filter: blur(25px);
  }

  .navbar ul {
    list-style-type: none;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100%;
  }

  .navbar ul li {
    cursor: pointer;
  }

  .rotate {
    width: 230px;
    height: 230px;
    // grid-column: 10/11;
    // grid-row: 2/3;
    z-index: 16;
    border-radius: 50%;
    position: absolute;
    right: 350px;
    top: 700px;
    position: fixed;
    transition: all 8s ease;
    animation-name: rotatean;
    animation-duration: 8s;
    animation-timing-function: ease-in-out;
    // animation-fill-mode: forwards;
    animation-iteration-count: infinite;
    animation-direction: normal;
  }

  @keyframes rotatean {
    // from {
    //   transform: rotate(0);
    // }
    to {
      transform: rotate(360deg);
    }
  }

  .rotate svg {
    width: 100%;
    height: 100%;
  }

  .rotate p {
    position: absolute;
    top: 50%;
    left: 50%;
    font-size: 1.5rem;
    transform: translate(-50%, -50%);
  }

  .navbar ul li {
    width: min-content;
    height: min-content;
    margin: 80px;
  }

  .navbar ul li a {
    // padding: 10px;
    text-decoration: none;
    color: white;
    writing-mode: vertical-rl;
    font-size: 2.5rem;
    font-family: neuehassBold;
  }

  .home-box {
    width: calc(100vw - 80px);
    height: calc(100vh - 100px);
    display: grid;
    grid-template-columns: repeat(12, 1fr);
    grid-template-rows: repeat(12, 1fr);
    background-color: transparent;
    position: absolute;
    top: 100px;
  }

  .home-box-iam {
    color: white;
    line-height: 0.5;
    grid-column: 3 / 4;
    grid-row: 3 / 4;
    font-size: 15rem;
    align-self: center;
    justify-self: flex-start;
    font-family: neuehaasThin;
  }

  .home-box-shahrukh {
    color: white;
    line-height: 0.5;
    grid-column: 3 / 7;
    grid-row: 4 / 5;
    font-size: 29.5rem;
    align-self: flex-start;
    justify-self: flex-start;
    padding-top: 50px;
    padding-bottom: 130px;
    font-family: neuehassLight;
  }

  .home-box-icon-bold-arrow {
    grid-column: 5 / 6;
    grid-row: 5 / 6;
    align-self: center;
    justify-self: flex-end;
    width: 190px;
    height: 190px;
    // margin-right: 10px;
    // margin-top: 25px;
  }

  .home-box-icon-bold-arrow svg {
    width: 100%;
    height: 100%;
  }

  .what-i-do {
    grid-column: 6 / 7;
    grid-row: 5 / 6;
    align-self: flex-start;
    justify-self: flex-end;
    line-height: 1.3;
    width: 90%;
    // margin-top: 23px;
    // height: 145px;
    // background-color: red;
  }

  .what-i-do-designer {
    font-size: 5.3rem;
    color: white;
    font-family: neuehaasThin;
  }

  .what-i-do-video {
    font-size: 5.3rem;
    color: white;
    font-family: neuehaasThin;
  }

  .what-i-do-3d {
    font-size: 5.3rem;
    color: white;
    font-family: neuehaasThin;
  }

  .home-box-light-Arrow {
    grid-column: 10 / 12;
    grid-row: 9 /11;
    justify-self: flex-end;
    align-self: center;
    width: 370px;
    height: 300px;
    animation-name: arrowSlider;
    animation-duration: 2s;
    margin-right: 250px;
    // z-index: 15;
  }

  @keyframes arrowSlider {
    from {
      transform: translateX(-1600px);
    }

    to {
      transform: translateX(0);
    }
  }

  .home-box-light-Arrow svg {
    width: 100%;
    height: 100%;
  }

  .selected-work {
    grid-column: 11/13;
    grid-row: 9/11;
    justify-self: center;
    align-self: flex-end;
    height: min-content;
    margin-top: 80px;
  }

  .selected {
    align-self: flex-end;
    color: white;
    font-size: 8rem;
    line-height: 0.5;
    font-family: neuehaasThin;
  }

  .work {
    color: white;
    align-self: flex-start;
    font-size: 17rem;
    font-weight: bold;
    line-height: 1;
    font-family: neuehassLight;
  }

  .home-next {
    color: white;
    letter-spacing: 2.5px;
    font-size: 3rem;
    grid-column: 10/12;
    grid-row: 9/10;
    justify-self: flex-end;
    align-self: flex-end;
    width: 45px;
    height: 20px;
    // margin-top: 55px;
    // margin-left: 180px;
    margin-right: 572px;
    margin-bottom: 25px;
    animation-name: nextAnim;
    animation-duration: 2s;
    animation-delay: 2s;
    opacity: 0;
    animation-fill-mode: forwards;
    // z-index: 15;
  }

  @keyframes nextAnim {
    from {
      transform: translateY(20px);
      opacity: 0;
    }

    to {
      transform: translateY(0);
      opacity: 1;
    }
  }

  .cursor {
    cursor: default;
  }
}
